.coupons-blog {
  height: 300px;
  width: 400px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  margin: 1% 1% 1% 3%;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.coupon-code {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  border-bottom: 1px solid black;
}
