.help-center-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  color: black;
  background-color: white;
  width: 150px;
  height: 30px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.8));
  cursor: pointer;
  animation: chatBot 1s ease-in-out 0.5s;
  transition: all 0.2s ease-in-out;
}

@keyframes chatBot {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo-help-container {
  font-size: 2rem;
  position: relative;
  top: 2px;
}

.help-center-container:hover {
  background-color: #d4af37;
  transform: scale(1.02);
}
