.navbar-container {
  background-color: #d4af37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 1001;
  position: sticky;
  top: 0px;
}

.logo-container {
  padding-left: 4rem;

  font-family: "inria serif";
  font-size: 2rem;
}

.links-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-right: 5rem;
  transition: all 0.3s ease-in-out;
}

.links-data ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}
.Discount-container {
  height: 32px;
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 12px;
  position: sticky;
  top: 80px;
  z-index: 1000;
}

.profile-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 180px;
  padding: 0.3rem 0.3rem 0 0.3rem;
  border-bottom: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.profile-container:hover {
  border-bottom: 0.3rem solid black;
  cursor: pointer;
}
.user-name-container {
  flex-basis: 60%;
}

.user-profile-container {
  flex-basis: 20%;
}

.user-profile-container img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.login-button {
  background-color: black;
  color: white;
}

.signup-button {
  background-color: rgba(255, 255, 255, 0.2);
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo-container {
    padding-left: 2rem;
    font-size: 1.5rem;
  }

  .links-container {
    gap: 2rem;
    padding-right: 3rem;
  }

  .links-data ul {
    gap: 1rem;
    font-size: 13px;
  }

  .buttons-container {
    gap: 1.5rem;
  }

  .login-button,
  .signup-button {
    height: 35px;
    text-align: center;
    font-size: 13px;
  }
}

.nav-letter-z {
  color: white;
}

@media (max-width: 480px) {
  .logo-container {
    padding-left: 1.8rem;
  }

  .hamburger {
    display: block;
    padding-right: 1.5rem;
  }

  .links-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #d4af37;
    position: fixed;
    top: 80px;
    right: -100%;
    gap: 1rem;
    height: 25rem;
    height: calc(100vh - 80px);
    transition: right 0.3s ease-in-out;
    width: 60%;
  }

  .links-container.active {
    right: 0px;
  }

  .links-data ul {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .links-data ul li {
    margin-top: 1rem;
  }

  .buttons-container {
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 2.8rem;
  }

  .login-button,
  .signup-button {
    width: 100%;
  }
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}
