.profile-hover-container {
  margin: 0;
  padding: 1rem;
  width: 200px;
  background-color: #d4af37;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: absolute;
  top: 63px;
  right: 70px;
}

.profile-hover-container ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  gap: 0.8rem;
}

.profile-hover-container ul li {
  width: 100%;
  text-align: left; /* center text inside li */
}

.link-container {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.4rem 0;
  transition: all 0.2s ease-in-out;
}

.link-container:hover {
  font-weight: 800;
  color: black;
  cursor: pointer;
}

.LogOut-Button {
  width: 100%;
  display: flex;
  justify-content: center; /* center button horizontally */
  margin-top: 0.5rem;
}

.LogOut-Button button {
  width: 80%;
  padding: 0.5rem 0;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: 500;
}
